<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Section UI Design - Job Posting Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon-tailwindcss.png">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Tailwind Config Import -->
    <script src="/js/tailwind.config.js"></script>
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="images/favicon-tailwindcss.png">
    <!-- Remix Icons CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <style>
        .btn-divider::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #E5E7EB; /* 연한 회색 선 */
            margin-bottom: 20px; /* 버튼 위 여백 조절 */
        }
        .detail-info {
            margin-bottom: 10px; /* 부가 설명 위 여백 조절 */
            font-size: 14px;
            color: #6B7280; /* 연한 회색 글씨 */
        }
    </style>

</head>
<body>
<section class="border-b border-gray-200">
    <div class="max-w-[1280px] mx-auto p-4 flex justify-between items-center">
        <div class="flex gap-10 items-center">
            <div class="flex gap-1 items-center">
                <a href="/mainpage">
                    <img class="w-[30px] border-5 border-white cursor-pointer" src="/images/logo.png" alt="logo">
                </a>
                <a href="/mainpage" class="text-2xl font-bold leading-[1.6em] translate-y-[-2px] cursor-pointer">
                    CONFIRM
                </a>

            </div>

            <div class="flex justify-start gap-4 space-x-8">
                <a href="/jobPostingPage" class="text-[18px] font-bold px-4 py-2 rounded bg-white hover:bg-white active:bg-white cursor-pointer">채용공고</a>
                <a href="/fairList" class="text-[18px] font-bold px-4 py-2 rounded bg-white hover:bg-white active:bg-white cursor-pointer tab-active">행사정보</a>
                <a href="/jobRec" class="text-[18px] font-bold px-4 py-2 rounded bg-white hover:bg-white active:bg-white cursor-pointer">공고등록</a>
            </div>
        </div>

        <div class="flex gap-3">
            <a href="/login" class="text-[14px] underline text-gray-500 cursor-pointer">로그인</a>
            <a href="/register" class="text-[14px] underline text-gray-500 cursor-pointer">회원가입</a>
        </div>
    </div>
</section>

<section class="max-w-4xl mx-auto mt-8 p-8 border border-gray-200 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-8 text-center">공고 등록</h1>
    <div class="btn-divider"></div>
    <div class="flex justify-end gap-4">
        <a href="/jobRec" class="text-[18px] font-bold text-blue-500 border border-blue-500 rounded-md px-4 py-2">채용공고</a>
        <a href="/eventRec" class="text-[18px] font-bold text-white bg-blue-500 border border-blue-500 rounded-md px-4 py-2 hover:bg-blue-600 hover:border-blue-600 hover:text-blue-50">행사공고</a>
    </div>
    <form action="/hires" method="post">
        <div class="mb-1">
            <label for="subject" class="block text-lg font-medium text-gray-700">공고 제목</label>
            <p class="detail-info">* 등록할 공고의 제목을 입력해주세요.</p>
            <input type="text" id="subject" name="subject" class="mt-1 mb-8 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg">
        </div>

        <div class="mb-1">
            <label class="block text-lg font-medium text-gray-700">회사 규모</label>
            <p class="detail-info">* 채용을 진행하는 기업의 규모를 선택해주세요.</p>
            <div class="flex items-center gap-4 mb-8">
                <input type="checkbox" id="startup" name="companySize" value="스타트업" class="mt-1 border-gray-300 rounded shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                <label for="startup">스타트업</label>

                <input type="checkbox" id="small" name="companySize" value="중소기업" class="mt-1 border-gray-300 rounded shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                <label for="small">중소기업</label>

                <input type="checkbox" id="medium" name="companySize" value="중견기업" class="mt-1 border-gray-300 rounded shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                <label for="medium">중견기업</label>

                <input type="checkbox" id="large" name="companySize" value="대기업" class="mt-1 border-gray-300 rounded shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                <label for="large">대기업</label>
            </div>
        </div>

        <div class="mb-1">
            <label class="block text-lg font-medium text-gray-700">경력 조건</label>
            <p class="detail-info">* 채용을 진행하는 경력 구분을 선택해주세요.</p>
            <div class="flex items-center gap-4 mb-8">
                <input type="checkbox" id="noExperience" name="experience" value="경력 무관" class="mt-1 border-gray-300 rounded shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                <label for="noExperience">경력 무관</label>

                <input type="checkbox" id="entryLevel" name="experience" value="신입" class="mt-1 border-gray-300 rounded shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                <label for="entryLevel">신입</label>

                <input type="checkbox" id="experienced" name="experience" value="경력직" class="mt-1 border-gray-300 rounded shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                <label for="experienced">경력직</label>
            </div>
        </div>

        <div class="mb-1">
            <label for="jobCategory" class="block text-lg font-medium text-gray-700">직무/직업</label>
            <p class="detail-info">* 채용을 진행하는 직무와 직군을 선택해주세요.</p>
            <select id="jobCategory" name="jobCategory" class="mt-1 mb-8 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg">
                <option>개발</option>
                <option>경영·비지니스</option>
                <option>마케팅/공고</option>
                <option>디자인</option>
                <option>영업</option>
                <option>고객서비스·리테일</option>
                <option>미디어</option>
                <option>엔지니어링·설계</option>
                <option>게임제작</option>
                <option>금융</option>
                <option>제조·생산</option>
                <option>교육</option>
                <option>의료·제약·바이오</option>
                <option>물류·무역</option>
                <option>법률·법집행기관</option>
                <option>식·음료</option>
                <option>건설·시설</option>
                <option>공공·복지</option>
                <!-- Add more options -->
            </select>
        </div>

        <div class="mb-1">
            <label for="expiryDate" class="block text-lg font-medium text-gray-700">유효 날짜</label>
            <p class="detail-info">* 채용이 종료되는 날짜를 작성해주세요.</p>
            <input type="text" id="expiryDate" name="expiryDate" class="mt-1 mb-8 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg" placeholder="DD/MM/YY">
        </div>

        <div class="mb-1">
            <label for="salary" class="block text-lg font-medium text-gray-700">평균 급여 (만원)</label>
            <p class="detail-info">* 급여를 작성해주세요.</p>
            <input type="number" id="salary" name="salary" class="mt-1 mb-8 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg">
        </div>

        <div class="mb-1">
            <label for="recruitmentCount" class="block text-lg font-medium text-gray-700">모집인원</label>
            <p class="detail-info">* 모집인원을 작성해주세요.</p>
            <input type="number" id="recruitmentCount" name="recruitmentCount" class="mt-1 mb-8 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg">
        </div>

        <div class="mb-1">
            <label for="details" class="block text-lg font-medium text-gray-700">상세 내용</label>
            <p class="detail-info">* 내용을 자세히 작성해주세요.</p>
            <textarea id="details" name="details" rows="4" class="mt-1 mb-8 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg"></textarea>
        </div>

        <div class="flex justify-center">
            <button type="submit" class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                등록하기
            </button>
        </div>
    </form>
</section>
</body>
</html>
